[Unit]
Description=Watch Farm Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
ExecStart=/root/watch-farmer.sh

[Install]
WantedBy=multi-user.target