[Unit]
Description=node exporter Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
Restart=on-failure
ExecStart=/root/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target